body {
    background-color: #F1C27D; /* Light Orange Background */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #D24B16; /* Dark Orange */
}

button {
    background-color: #D24B16; /* Dark Orange */
    color: white;
    font-size: 1.5em;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #B94413; /* Darker Orange */
}

#upload-btn {
    display: block;
    margin: 20px auto;
}

#qr-url {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
}

#copy-btn {
    padding: 10px;
    font-size: 1em;
    background-color: #F1C27D; /* Light Orange */
    color: #D24B16;
    border: 2px solid #D24B16;
    cursor: pointer;
}

/* Position the flashlight button at the bottom */
#flashlight-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
