body {
    background-color: #F1C27D; /* Light Orange Background */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
    position: relative; /* To position the flashlight button correctly */
}

h1 {
    font-size: 2em;
    color: #D24B16; /* Dark Orange */
}

button {
    background-color: #D24B16; /* Dark Orange */
    color: white;
    font-size: 1.5em;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #B94413; /* Darker Orange */
}

#upload-btn {
    display: block;
    margin: 20px auto;
}

#qr-url {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
}

#copy-btn {
    padding: 10px;
    font-size: 1em;
    background-color: #F1C27D; /* Light Orange */
    color: #D24B16;
    border: 2px solid #D24B16;
    cursor: pointer;
}

/* Flashlight button styles */
#flashlight-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #D24B16; /* Dark Orange */
    color: white;
    font-size: 2em;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
}

#flashlight-btn i {
    font-size: 1.5em;
}

#flashlight-btn:hover {
    background-color: #B94413; /* Darker Orange */
}

/* Styling for PC Mode */
@media (min-width: 768px) {
    #scanner {
        display: none;
    }
    #upload-btn {
        display: block;
    }
    #url-display {
        display: block;
    }
}
